<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172041609902-na2b3unnjn2ku6iostg5049pmbabd1cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172041609902-na2b3unnjn2ku6iostg5049pmbabd1cp</string>
	<key>API_KEY</key>
	<string>AIzaSyCAuPBL3UX73LcaYQq071-JFUvmRMQcFIo</string>
	<key>GCM_SENDER_ID</key>
	<string>172041609902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andina.News</string>
	<key>PROJECT_ID</key>
	<string>andina-noticias</string>
	<key>STORAGE_BUCKET</key>
	<string>andina-noticias.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172041609902:ios:41042fecf44822253a033f</string>
</dict>
</plist>